<ng-container *ngIf="fileInfo">
    <mat-card class="file-info">
        <div class="flex-row">
            <div class="file-info--group">
                <h5 class="file-info--title">File name</h5>
                <h1 class="file-info--value">{{ fileInfo.fileName }}</h1>
            </div>
            <div class="flex-spacer"></div>
            <div class="file-info--group">
                <h5 class="file-info--title">Translation units</h5>
                <h1 class="file-info--value">{{ fileInfo.totalUnits }}</h1>
            </div>
            <div class="file-info--group">
                <h5 class="file-info--title">Translated</h5>
                <h1 class="file-info--value">0%</h1>
            </div>
            <div class="file-info--group">
                <h5 class="file-info--title">Source language</h5>
                <h1 class="file-info--value">{{ fileInfo.sourceLang }}</h1>
            </div>
            <div class="file-info--group">
                <h5 class="file-info--title">Target language</h5>
                <h1 class="file-info--value">{{ fileInfo.targetLang }}</h1>
            </div>
            <div class="file-info--group">
                <h5 class="file-info--title">XLIFF version</h5>
                <h1 class="file-info--value">{{ fileInfo.xliffVersion }}</h1>
            </div>
        </div>
    </mat-card>
</ng-container>
