@import 'variables';

a {
  mat-icon {
    margin-right: 0.5em;
  }
}

.mat-button:not(:last-of-type) {
  @media screen and (min-width: $breakpoint-sm) {
    margin-right: 1em;
  }
}

.translation--list {
  margin: 0 -1em;
  margin-bottom: 1em;
  min-height: 250px;

  .translation--header-row {
    border-bottom: $border-dotted;
    min-height: 60px;
    display: flex;
    align-items: center;

    .translation--cell__header {
      font-size: 12px;
      color: rgba(0, 0, 0, 0.54);
    }

    .translation--cell__status {
      flex: 4;
    }
  }

  .translation--row {
    min-height: 72px;
    border-bottom: $border-dotted;
    align-items: center;
    display: flex;

    &:last-of-type {
      border-bottom: none;
    }
  }

  .translation--cell {
    color: $text-gray;
    font-size: 1.1em;
    flex: 1;
    display: flex;
    align-items: center;
    overflow: hidden;
    word-wrap: break-word;
    min-height: inherit;

    &:first-of-type {
      flex: 1 0 4rem;
      padding-left: 24px;
    }

    &:last-of-type {
      padding-right: 24px;
    }

    &__center {
      justify-content: center;
    }

    .status {
      display: flex;
      align-items: center;
      flex: 1;

      .mat-progress-bar-buffer {
        background-color: $light-gray;
      }

      p {
        flex: 1 0 75px;
        padding-left: 1em;
      }
    }
  }
}
