<mat-card class="file-info" *ngIf="baseFileInfo">
    <div class="flex-row">
        <div class="file-info--group">
            <h5 class="file-info--title">Uploaded file</h5>
            <h1 class="file-info--value">{{ baseFileInfo.fileName }}</h1>
        </div>
        <div class="flex-spacer"></div>
        <div class="file-info--group">
            <h5 class="file-info--title">Translation units</h5>
            <h1 class="file-info--value">{{ baseFileInfo.totalUnits }}</h1>
        </div>
        <div class="file-info--group">
            <h5 class="file-info--title">Translated</h5>
            <h1 class="file-info--value">{{ translationStatus | number:'0.0-0' }}%</h1>
        </div>
        <div class="file-info--group">
            <h5 class="file-info--title">Source language</h5>
            <h1 class="file-info--value">{{ baseFileInfo.sourceLang }}</h1>
        </div>
        <div class="file-info--group">
            <h5 class="file-info--title">XLIFF version</h5>
            <h1 class="file-info--value">{{ baseFileInfo.xliffVersion }}</h1>
        </div>
    </div>
</mat-card>
<mat-card>
    <mat-card-header>
        <mat-card-title>
            My translations
        </mat-card-title>
        <div class="progress" align="end">
            <mat-icon class="inactive">lens</mat-icon>
            <mat-icon class="active">lens</mat-icon>
            <mat-icon class="inactive">lens</mat-icon>
        </div>
    </mat-card-header>
    <mat-card-content>
        <div class="translation-list">

            <mat-table #table [dataSource]="dataSource">

                <!-- language Column -->
                <ng-container matColumnDef="language">
                    <mat-header-cell *matHeaderCellDef> Target language </mat-header-cell>
                    <mat-cell *matCellDef="let translation">
                        {{ localeObject[translation.targetLang] }}
                    </mat-cell>
                </ng-container>

                <!-- fileName Column -->
                <!-- <ng-container matColumnDef="fileName">
                    <mat-header-cell *matHeaderCellDef> File name </mat-header-cell>
                    <mat-cell *matCellDef="let translation"> {{ translation.fileName }}.{{ translation.targetLang }}.xlf </mat-cell>
                </ng-container> -->

                <!-- status Column -->
                <ng-container matColumnDef="status">
                    <mat-header-cell *matHeaderCellDef> Status </mat-header-cell>
                    <mat-cell *matCellDef="let translation">
                        <div class="status">
                            <mat-progress-bar mode="determinate" [value]="(translation.translatedUnits / translation.totalUnits) * 100"></mat-progress-bar>
                            <p>{{ (translation.translatedUnits / translation.totalUnits) * 100 | number:'0.0-0' }} %</p>
                        </div>
                    </mat-cell>
                </ng-container>

                <!-- delete Column -->
                <ng-container matColumnDef="delete">
                    <mat-header-cell *matHeaderCellDef align="center"> Delete </mat-header-cell>
                    <mat-cell *matCellDef="let translation" align="center">
                        <a (click)="openDeleteTranslationDialog(translation.id)">
                            <mat-icon color="primary">delete</mat-icon>
                            <span>Delete</span>
                        </a>
                    </mat-cell>
                </ng-container>

                <!-- translate Column -->
                <ng-container matColumnDef="translate">
                    <mat-header-cell *matHeaderCellDef align="center"> Translate </mat-header-cell>
                    <mat-cell *matCellDef="let translation" align="center">
                        <a (click)="openTranslation(translation)">
                            <mat-icon color="primary">edit</mat-icon>
                            <span>Translate</span>
                        </a>
                    </mat-cell>
                </ng-container>

                <!-- download Column -->
                <ng-container matColumnDef="download">
                    <mat-header-cell *matHeaderCellDef align="center"> Download </mat-header-cell>
                    <mat-cell *matCellDef="let translation" align="center">
                        <a (click)="downloadFile(translation.id)">
                            <mat-icon color="primary">file_download</mat-icon>
                            <span>Download</span>
                        </a>
                    </mat-cell>
                </ng-container>

                <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
                <mat-row *matRowDef="let row; columns: displayedColumns;"></mat-row>
            </mat-table>

            <div *ngIf="translationsList.length === 0" class="missing-data">
                <mat-icon class="mat-48">playlist_add</mat-icon>
                <p>No translations yet.
                    <a (click)="openAddTranslationDialog()">Add translation</a>
                </p>
            </div>
        </div>
        <div align="end">
            <button mat-button (click)="openAddTranslationDialog()" color="primary" class="button-round button-border">
                Add translation
            </button>
        </div>
    </mat-card-content>
</mat-card>