<div class="translation-status">
  <div class="translation-status--info">
    <h3>Source language</h3>
    <h4>EN</h4>
  </div>
  <div class="translation-status--info">
    <h3>Target language</h3>
    <h4>HR</h4>
  </div>
  <div class="translation-status--info">
    <h3>XLIFF version</h3>
    <h4>1.2</h4>
  </div>
  <div class="translation-status--info">
    <h3>Total translation units</h3>
    <h4>174</h4>
  </div>
  <div class="translation-status--info">
    <h3>Translated units</h3>
    <h4>55</h4>
  </div>
</div>