<header>
  <img src="../../../assets/img/logo.png" alt="xliff-translator">
  <div class="navigation">
    <!-- <a>
      <mat-icon>description</mat-icon>
      <span>Documentation</span>
    </a> -->
    <a [routerLink]="['']">
      <mat-icon>file_upload</mat-icon>
      <span>Upload file</span>
    </a>
    <a [routerLink]="['/translations']" > 
      <mat-icon>list</mat-icon>
      <span>My translations</span>
    </a>
  </div>
</header>

<div class="app-container">
  <router-outlet></router-outlet>
</div>

<footer class="flex-row">
  <span> Version 1.0</span> 
  <a href="https://github.com/thabalija/xliff-translator" target="_blank">View on github</a>
</footer>