<header>
  <a [routerLink]="['']" class="header-logo">
    <mat-icon class="icon">translate</mat-icon>
    <h1 class="title">Xliff translator</h1>
  </a>
  <div class="navigation">
    <a [routerLink]="['']">
      <mat-icon>file_upload</mat-icon>
      <span>Upload file</span>
    </a>
    <a
      [ngClass]="{ disabled: !isUploadedFile }"
      [routerLink]="['/translations']"
    >
      <mat-icon>list</mat-icon>
      <span>My translations</span>
    </a>
  </div>
</header>

<div class="app-container">
  <router-outlet></router-outlet>
</div>

<footer class="flex-row">
  <span>Version {{ version }}</span>
  <span>
    <a href="../../../assets//docs/test_file.en.xml" target="_blank">Test file</a>
    |
    <a href="../../../assets//docs/test_translated_file.de.xml" target="_blank">Test translated file</a>
  </span>
  <a href="https://github.com/thabalija/xliff-translator" target="_blank">View on github</a>
</footer>
