header, footer {
    display: flex;
    justify-content: space-between;
    width: 100%;
    max-width: 1080px;
    margin: 0 auto;
}
header {
    padding: 1em 0;
    margin-bottom: 1em;
    align-items: center;
}
footer {
    padding: 1em;
    color: #fff;
}
a { 
    color: rgba(255, 255 ,255, 0.85);
    transition: 200ms color ease;
    text-decoration: none;
    padding: 0 1em;
    &:hover {
        color: rgba(255, 255 ,255, 1);
    }
    &.header-logo {
        max-width: 60%;
        display: block;
        padding-left: 0;
        img {
            max-width: 100%; 
        }
    }
    span {
        display: none;
    }
    .mat-icon {     
        vertical-align: text-bottom;
    }
    @media screen and (min-width: 768px) {
        padding: 0 1em;
        span {
            display: inline-block;
            vertical-align: initial;
            padding-left: 0.25em;
        }
    }
}