<div *ngIf="fileInfo" class="card-wrapper file-info file-info-editable">
  <div class="flex-row">
    <mat-form-field>
      <mat-select
        placeholder="File target language"
        [(ngModel)]="fileInfo.targetLang"
        (selectionChange)="onTargetLanguageChange()"
      >
        <mat-option *ngFor="let lang of languages" [value]="lang.locale">{{ lang.language }}</mat-option>
      </mat-select>
    </mat-form-field>

    <mat-form-field>
      <mat-select
        placeholder="Show"
        [(ngModel)]="showUnits"
        (selectionChange)="filterTranslations(showUnits)"
      >
        <mat-option [value]="'all'">All</mat-option>
        <mat-option [value]="'initial'">Initial</mat-option>
        <mat-option [value]="'translated'">Translated</mat-option>
        <mat-option [value]="'other'">Other</mat-option>
      </mat-select>
    </mat-form-field>

    <div class="flex-spacer"></div>

    <div class="file-info--group" *ngIf="fileInfo">
      <h5 class="file-info--title">Translated</h5>
      <h1 class="file-info--value">
        {{ (fileInfo.translatedUnits / fileInfo.totalUnits) * 100 | number: "0.0-0" }}%
      </h1>
    </div>

    <div class="file-info-actions">
      <button mat-button color="primary" (click)="downloadFile(fileInfo.id)">Download</button>
    </div>
  </div>
</div>

<div class="card-wrapper editor">
  <div class="card-header">
    <div class="card-header--title">Translate strings</div>
  </div>

  <ng-container *ngFor="let unit of paginatedTranslationUnits">
    <div class="translation-unit" id="unit.unitId">
      <div class="source">
        <div class="card-wrapper">
          <div class="card-content">
            <p>{{ unit.source }}</p>
          </div>

          <div class="card-actions" align="end">
            <button mat-icon-button (click)="copy(unit.source)" tabindex="-1">
              <mat-icon>content_copy</mat-icon>
            </button>
          </div>
        </div>

        <div class="translation-unit--footer">
          <mat-icon class="mat-icon--fingerprint">fingerprint</mat-icon>
          <span class="translation-unit--fingerprint">{{ unit.unitId }} {{ unit.segmentId ? unit.segmentId : '' }}</span>
          <div class="flex-spacer"></div>
          <button
            tabindex="-1"
            mat-icon-button
            *ngIf="unit.note.length > 0"
            (click)="unit.showNote = true"
            matTooltip="{{ getNote(unit.note) }}"
          >
            <mat-icon>info_outline</mat-icon>
          </button>
        </div>
      </div>

      <div class="target">
        <div class="card-wrapper target-input" (click)="focusTextarea($event)">
          <div class="card-content">
            <mat-form-field>
              <textarea
                matInput
                matTextareaAutosize
                matAutosizeMinRows="1"
                [(ngModel)]="unit.target"
                (change)="onUnitChange(unit)"
              ></textarea>
            </mat-form-field>
          </div>
        </div>
        <div class="translation-unit--footer">
          <mat-radio-group
            [(ngModel)]="unit.targetState"
            (change)="onUnitTargetStateChange()"
          >
            <mat-radio-button color="primary" [value]="'initial'">Initial</mat-radio-button>
            <mat-radio-button color="primary" [value]="'translated'">Translated</mat-radio-button>
          </mat-radio-group>
        </div>
      </div>
    </div>
  </ng-container>

  <div class="missing-data" *ngIf="paginatedTranslationUnits.length === 0">
    <mat-icon class="mat-48">speaker_notes_off</mat-icon>
    <p>You have 0 translation units matching your parameters.</p>
  </div>

  <mat-paginator
    [length]="translationUnits.length"
    [pageSize]="pageEvent.pageSize"
    [pageSizeOptions]="pageSizeOptions"
    (page)="onPageChange($event)"
  ></mat-paginator>
</div>
