.translation-unit--footer {
  position: relative;
  .info-popup {
    position: absolute;
    background: linear-gradient(to right, #b13964, #ab44b2);
    top: 0;
    right: 0;
    padding: 1.5em;
    color: #fff;
    border-radius: 2px;
    width: 100%;
    z-index: 1;
    opacity: 0.95;
    box-shadow: 0 10px 20px rgba(0, 0, 0, 0.12);
    button {
      position: absolute;
      right: 6px;
      top: 6px;
    }
    h3 {
      margin: 0;
    }
    p {
      margin-top: 0.5em;
      margin-bottom: 1em;
      &:last-of-type {
        margin-bottom: 0em;
      }
    }
  }
}
