.translation-unit {
    display: flex;
    max-width: 1080px;
    margin: 0 auto;
    border: 1px solid #ccc;

    .translation-unit--info {
        flex: 1 1 40%;
    }
    .mat-form-field {
        flex: 1 1 50%;
    }
}