<div
  class="dropzone"
  appDragAndDrop
  (droppedFile)="onDropFiles($event)"
  (draggingOver)="onDragOver($event)"
  [ngClass]="{ disabled: disabled, 'is-dragged-over': isDraggedOver }"
>
  <mat-icon
    class="upload-icon"
    *ngIf="files === undefined || files.length === 0"
  >
    file_upload
  </mat-icon>
  <mat-icon *ngIf="files !== undefined && files.length === 1" color="primary">
    done
  </mat-icon>
  <mat-icon *ngIf="files !== undefined && files.length > 1" color="primary">
    done_all
  </mat-icon>

  <p><a (click)="openFileDialog()">Choose a file</a> or drag it here</p>

  <input
    type="file"
    id="file-input"
    accept=".xlf"
    #fileInput
    (change)="onBrowseFiles($event)"
    [multiple]="multiple"
    [disabled]="disabled"
  />

  <p class="file-name">
    <ng-container *ngIf="files === undefined || files.length === 0">
      No files selected
    </ng-container>
    <ng-container *ngIf="files !== undefined && files.length > 0">
      <ng-container *ngIf="files.length === 1">{{
        files[0].name
      }}</ng-container>
      <ng-container *ngIf="files.length > 1"
        >Multiple files selected</ng-container
      >
    </ng-container>
  </p>
</div>
