:host:not(.file-input-disabled) {
  cursor: pointer;
}
input {
  width: 0px;
  height: 0px;
  opacity: 0;
  overflow: hidden;
  position: absolute;
  z-index: -1;
}
.filename {
  display: inline-block;
  max-width: calc(100% - 21px);
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  vertical-align: bottom;
}
mat-icon{
  position: absolute;
  right: 4px;
  bottom: 4px;
  font-size: 1em;
}