<div class="home-wrapper">
  <div class="app-description">
    <h1>Translate your XML</h1>
    <p>
      Xliff translator is an open source app for translating XML files. It is free for
      personal and commercial use. Feel free to post feedback or suggestions on github.
    </p>
  </div>
  <div class="card-wrapper get-started">
    <div class="card-header">
      <div class="card-header--title">
        Get started
      </div>
    </div>
    <div class="card-content">
      <drag-and-drop
        [multiple]="false"
        [disabled]="false"
        (checkChange)="onFileChange($event)"
      ></drag-and-drop>
      <div class="flex-row">
        <mat-form-field>
          <input
            type="text"
            matInput
            placeholder="File name"
            [(ngModel)]="fileName"
          />
        </mat-form-field>
        <mat-form-field>
          <mat-select
            placeholder="Source language"
            [(ngModel)]="fileSourceLang"
          >
            <mat-option *ngFor="let lang of languages" [value]="lang.locale">
              {{ lang.language }}
            </mat-option>
          </mat-select>
        </mat-form-field>
      </div>
      <div align="end">
        <button
          mat-button
          (click)="openUploadFileDialog()"
          color="primary"
          class="button-round button-border"
          [disabled]="
            fileName === '' ||
            fileSourceLang === '' ||
            htmlDocument === undefined
          "
        >
          Create project
        </button>
      </div>
    </div>
  </div>
</div>
