<mat-dialog-content class="dialog">
  <div class="dialog-header">
    <h1 class="dialog-title">
      Add translation
    </h1>
  </div>
  <div class="dialog-content">
    <div class="flex-row">
      <mat-form-field>
        <mat-select placeholder="Target language" [(ngModel)]="data.targetLang">
          <mat-option *ngFor="let language of languages" [value]="language.locale">
            {{ language.language }}
          </mat-option>
        </mat-select>
      </mat-form-field>
    </div>
    <div class="flex-row">
      <mat-checkbox *ngIf="data.translatedLanguages.length" [(ngModel)]="data.useTranslationUnits" color="primary">
        Copy translations from translated file
      </mat-checkbox>
    </div>
    <div *ngIf="data.useTranslationUnits" class="flex-row">
      <mat-form-field>
        <mat-select placeholder="Choose translation" [(ngModel)]="data.translationToCopy">
          <mat-option *ngFor="let language of data.translatedLanguages" [value]="language">
            {{ localeObject[language.targetLang] }}
          </mat-option>
        </mat-select>
      </mat-form-field>
    </div>
  </div>
</mat-dialog-content>

<mat-dialog-actions align="end">
  <button mat-button (click)="dialogRef.close(false)" class="button-round">
    Cancel
  </button>
  <button
    mat-button
    (click)="dialogRef.close(data)"
    color="primary"
    class="button-round button-border"
    [disabled]="data.targetLang === '' || data.useTranslationUnits && !data.translationToCopy"
  >
    <span>Create translation</span>
  </button>
</mat-dialog-actions>
