@import 'variables';

.dialog-content {
  .flex-row {
    flex-direction: column;
    @media screen and (min-width: $breakpoint-sm) {
      flex-direction: row;
    }
    .mat-form-field {
      width: 100%;
    }

    .mat-checkbox {
      margin-bottom: 1em;
    }
  }
}
