@import 'variables';

.dialog-content {
  .flex-row {
    flex-direction: column;
    @media screen and (min-width: $breakpoint-sm) {
      flex-direction: row;
    }
    .mat-form-field {
      width: 100%;
      @media screen and (min-width: $breakpoint-sm) {
        width: calc(50% - 0.15em);
      }
    }
  }
}
