@import 'variables';

.flex-spacer {
    flex-grow: 1;
}
* {
    box-sizing: border-box;
}
html, body {
    margin: 0;
    width: 100%;
    height: 100%;
}
body {
    background: $gradient-primary;
}
.app-container {
    max-width: 1080px;
    margin: 0 auto;
    height: auto;
    display: flex;
    flex-direction: column;
}

.mat-card {
    max-width: 100%;
    margin-bottom: 2em;
    .mat-card-header {
        justify-content: space-between;
        .mat-card-title {
            font-size: 1.4em;
            font-weight: 700;
            color: $primary;
        }
    }
}
.progress {
    .mat-icon {
        height: 16px;
        width: 16px;
        font-size: 12px;
        &.active {
            color: $primary;
        }
        &.inactive {
            color: $light-gray;
        }
    }
}
.dialog {
    .dialog-header {
        display: flex;
        justify-content: space-between;
        .dialog-title {
            font-size: 1.4em;
            font-weight: 700;
            color: #af67b7;
            display: block;
            margin: 0 0 16px;
        }
    }
    .dialog-content {
        margin: 2em 0 1em;
        display: flex;
        justify-content: space-between;
    }
}
.get-started {
    width: 550px;
    margin: 0 auto;
    .flex-row {
        justify-content: space-between; 
        .mat-form-field {
            width: calc(50% - 1em);
        }
    }
}

mat-card.mat-card:not([class*=mat-elevation-z]) {
    box-shadow: $box-shadow;
}
a:hover {
    cursor: pointer;
}

.translation-list {
    padding: 1em 2em 5em 2em;
    border: $border-dotted;
    margin: 0 auto;
    margin-bottom: 1em;
    min-height: 250px;
    .mat-header-row {
        border-bottom: $border-dotted;
        min-height: 60px;
    }
    .mat-row {
        min-height: 72px;
        border-bottom: $border-dotted;
        &:last-of-type {
            border-bottom: none;
        }
        .mat-cell {
            color: $text-gray;
            font-size: 1.1em;            
            .status {
                display: flex;
                align-items: center;
                .mat-progress-bar-buffer {
                    background-color: $light-gray;
                }
                p {
                    flex: 1 0 75px;
                    padding-left: 1em;
                }
            }
        }
    }
    .no-translations {
        display: flex;
        flex-grow: 1;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        padding: 2em;
        .mat-icon {
            width: auto;
            height: auto;
            font-size: 48px;
            opacity: 0.5;
        }
        a {
            font-weight: 700;
        }
    }
}

.settings {
    color: $text-gray;
    padding: 1em 0.5em;
    .mat-slide-toggle-content{
        font-size: 1em;
    }
}
.file-info {
    &.mat-card { 
        margin-bottom: 1em;  
    }
    .file-info--group {
        padding: 0 0.75em;

        .file-info--title{
            font-size: 0.75em;
            margin: 0;
            text-transform: uppercase;
            color: $text-gray;
        }
        .file-info--value{
            font-size: 1.8em;
            margin: 0;
            color: $primary;
            font-weight: 300;
        }
    }
    &.file-info-editable {
        .file-info--group {
            padding: 0 2em 0 0;
        }
        .mat-form-field {
            align-self: flex-start;
            margin-right: 20px;
            min-width: 200px;
            .mat-form-field-wrapper {
                padding-bottom: 0;
            }
            .mat-form-field-underline{
                bottom: 0;
            }
        }
    }
}
.translation-unit {
    display: flex;
    margin-bottom: 0.5em;
    align-items: stretch;
    align-content: space-around;
    justify-content: space-between;  

    div.source,
    div.target{
        width: calc( 50% - 1em);           
        display: flex;
        flex-direction: column;   
        .mat-card {
            box-shadow: none;
            border-radius: 2px;
            flex-grow: 1;
            margin-bottom: 0;

            .mat-card-content {
                margin: 0;
                p {
                    width: calc( 100% - 3em);
                    font-size: 1.2em;
                    font-weight: 700;
                }
                .mat-form-field {
                    width: calc( 100% - 3em);
                    font-size: 1.2em;
                    font-weight: 700;
                    .mat-form-field-wrapper {
                        padding: 0; 
                        textarea.mat-autosize{
                            overflow: hidden !important;
                        }
                        .mat-form-field-infix {
                            padding: 0;
                            border-top: 0;
                        }
                        .mat-input-underline.mat-form-field-underline {
                            display: none;
                        }
                    }
                }
            }
            .mat-card-actions {
                position: absolute;
                right: 13px;
                margin: 0;
                padding: 0;
                bottom: 13px;
            }
        }
        .translation-unit--footer {
            height: 56px;
            display: flex;
            align-items: center;
            padding: 1em;
            color: #B3B3B3;

            .mat-icon--fingerprint {
                margin-right: 0.25em;
            }
            .mat-radio-button {
                margin-right: 1em;
                .mat-radio-label {
                    opacity: 1;
                }
            }
        }

    }
    div.source {
        .mat-card {
            background: #f2f2f2;            
            p,
            .mat-icon-button {
                color: #616161;
            }
        }
    }
    div.target {
        .mat-card {
            border: $border-dotted;
            &:hover{
                cursor: text;
            }
            .mat-form-field {
                color: #212121;
            }
        }
    }
}
.cdk-overlay-container {
    .mat-dialog-container {
        .mat-dialog-title {
            font-weight: 700;
        }
        .mat-dialog-content {
            .mat-form-field {
                width: calc(50% - 0.15em);
            }
        }
        .mat-dialog-actions:last-child {
            margin-bottom: -12px;
        }
    }
}
button.button-gradient.button-round {
    background: $gradient-primary;
    border-radius: 18px;
    color: $white;
}
.flex-row {
    display: flex;
}
.flex-spacer {
    flex-grow: 1;
}

.mat-button.button-round {
    border: 1px solid $primary;
    border-radius: 19px;
    overflow: hidden;
}