$gradient-primary: linear-gradient(to right, #b13964, #ab44b2);
$gradient-secondary: linear-gradient(to right, #52346d, #4d2e66);

$white: #fff;

$primary: #AB44B2;

$light-gray: #d9d9d9;
$box-shadow: 0 10px 20px rgba(0, 0, 0, .12);

$border-dotted: dashed 2px #eee;
$text-gray: #808080;

$breakpoint-md: 1080px;
$breakpoint-sm: 768px;